{
    "extends": "arnellebalane",
    "env": {
        "commonjs": true,
        "es6": true,
        "mocha": true
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "max-len": ["error", 120]
    }
}
